.menu {
  position: fixed;
  width: 100%;
  z-index: 5;
  overflow: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #e8e8e8;
  background-color: white;
}

.menu__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100vw;
  padding: 0 30px;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

@media (max-width: 767px) {
  .menu_left,
  .menu_rigth {
    display: none;
  }
}
